.message-div {
  animation-name: transactions;
  animation-duration: 2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes transactions {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
