.message-div {
  display: absolute;
  animation-name: transactions;
  animation-duration: 5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
body {
  text-align: center;
}
@keyframes transactions {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    display: none;
    overflow: hidden;
  }
}
