.message-div {
  display: absolute;
  animation-name: transactions;
  animation-duration: 5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.arrow-top {
  position: -webkit-sticky;
  position: sticky;
  left: 90%;
  top: 0;
  z-index: 3;
}
.date-filter {
  margin: 10px;
}
.search-filter {
  margin: 10px;
}
body {
  text-align: center;
}
.app-title-h1 {
  margin: 10px !important ;
}
@keyframes transactions {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    display: none;
    overflow: hidden;
  }
}
